<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net452" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="net452" />
  <package id="MvvmCross" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.Json" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.JsonLocalization" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.Messenger" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.ResourceLoader" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.SQLitePCL" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.Visibility" version="4.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="net452" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net452" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net452" />
</packages>